<!-- begin footer -->
<footer>
  <div class="container">
      <div class="row">
          <div class="col-xs-3 col-xs-9">
                  <h3 class="widget-title">Foold</h3>
                  <ul>
                      <li>
                          <i class="icon-caret-right"></i>
                          <a title="Contact Us" href="#">business@foold.com</a>
                      </li>
                  </ul>
            </div>
        </div>
          <!-- .span3 -->
    </div>
</footer>

<!-- end footer -->
