<!-- begin footer -->
<footer class="page-footer">
  <div class="container">
      <div class="row">
          <span><h3>Contact Us @ DPR</h3>
          <i class="icon-caret-right"></i><%= mail_to "business@dpr.com" %></span>
      </div>
    </div>
</footer>

<!-- end footer -->
