<!-- begin footer -->
<footer class="page-footer">
  <div class="container">
      <div class="row">
          <h3>Contact Us @ Foold</h3>
          <i class="icon-caret-right"></i>
          <%= mail_to "business@foold.com" %>
      </div>
    </div>
</footer>

<!-- end footer -->
